* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
.clear::after {
    content: '';
    clear: both;
    display: block;
}
.float_left {
    float: left;
}
.float_rightt {
    float: right;
}
.fixed__width {
    width: 70%;
    margin: auto;
    display: block;
}
html {
    font-size: 16px;
}
$rubik: 'Rubik', sans-serif;
$Nunito: 'Nunito', sans-serif;
$main_color: #21a7d0;
$black: #111111;
$header_top_color: #203154;
$p_color: #adaaaa;
$star_color: #fcb903;
@mixin section__title__design__noe {
    margin: 0 15px;

    overflow: auto;
    > div {
        &:first-child {
            float: left;
            width: 50%;
            h3 {
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 600;
                color: #21a7d0;
            }
            h2 {
                text-transform: capitalize;
                font-family: $Nunito;
                font-size: 2.4rem;
                font-weight: 700;
                color: #111111;
                margin: 5px 0 10px 0;
            }
        }
        &:last-child {
            float: right;
            width: 50%;
        }
        > div {
            text-align: right;
            a {
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                color: #111;
                font-weight: 600;
                font-size: 1rem;
                border: 1px solid $main_color;
                padding: 13px 34px;
                border-radius: 50px;
                transition: 0.4s;
                &:hover {
                    background: #21a7d0;
                    color: #fff;
                }
            }
        }
    }
}
/*-- header  start--*/

.header__top {
    background: $header_top_color;
    font-size: 0.9rem;
    user-select: none;
    font-family: $rubik;
    font-weight: 400;
    .header__top__left {
        width: 50%;
        float: left;
        box-sizing: border-box;
        .header__top__left__inner {
            > div {
                float: left;
                margin-left: 10px;
                padding: 15px 0;
                .flaticon-location {
                    font-size: 1rem;
                    display: inline-block;
                }
                span {
                    color: #fff;
                    display: inline-block;
                    margin: 0 4px;
                    cursor: pointer;
                }
                a {
                    color: #fff;
                    display: inline-block;
                    text-decoration: none;
                    transition: 0.4s;
                    &:hover {
                        color: $main_color;
                    }
                }
                p {
                    color: #fff;
                    display: inline-block;
                }
                &:first-child {
                    border-right: 1px solid #40537a;
                    padding-right: 10px;
                }
            }
        }
    }
    .header__top__right {
        width: 50%;
        float: right;
        .header__top__right__inner {
            text-align: right;
            > div {
                display: inline-block;
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    transition: 0.4s;
                    &:hover {
                        color: $main_color;
                    }
                }
                span {
                    display: inline-block;
                    color: #fff;

                    .fas {
                        color: $main_color;
                        margin-right: 3px;
                    }
                }
                span.slash {
                    user-select: none;
                }
            }
            .header__top__btn {
                background: $main_color;
                padding: 17px 40px;
                color: #fff;
                margin-left: 10px;
                &:hover {
                    color: #fff;
                    background: #1c8bad;
                }
            }
        }
    }
}
nav {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    font-family: $rubik;
    box-shadow: 0 4px 8px #ddd;
    position: sticky !important;
    top: 0;
    transition: 0.4s;
    #nav {
        > div {
            float: left;
            width: 10%;
        }
        .nav__left {
            .logo__inner {
                padding: 20px 0;
                img {
                    width: 110px;
                }
            }
        }
        .nav__center {
            width: 80%;
            > ul {
                list-style: none;
                text-align: center;
                > li {
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: -4px;
                    > a {
                        text-decoration: none;
                        font-family: $rubik;
                        display: inline-block;
                        padding: 46px 22px;
                        transition: 0.4s;
                        font-weight: 500;
                        color: #444;
                        position: relative;
                        &:hover {
                            color: $main_color;
                            &::after {
                                opacity: 0;
                                visibility: hidden;
                            }
                            &::before {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        &::after {
                            content: '\f067';
                            font-family: 'font awesome 5 free';
                            font-weight: 600;
                            font-size: 11px;
                            position: absolute;
                            top: 44%;
                            right: 6px;
                            transition: 0.4s;
                        }
                        &::before {
                            content: '\f068';
                            font-family: 'font awesome 5 free';
                            font-weight: 600;
                            font-size: 11px;
                            position: absolute;
                            top: 44%;
                            right: 6px;
                            transition: 0.4s;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    &:hover {
                        .mega__menu,
                        .dropdoun__menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(-10px);
                        }
                    }
                    position: relative;
                    /*-- mega__menu start--*/
                    .mega__menu {
                        position: absolute;
                        top: 100%;
                        left: -60px;
                        width: 700px;
                        border: 1px solid #ddd;
                        padding: 40px 30px;
                        box-sizing: border-box;
                        background: #fff;
                        box-shadow: 0 2px 10px rgb(177, 191, 204);
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s ease-in;
                        .mega__menu__inner {
                            overflow: auto;
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 28%;
                                background: rgba(221, 221, 221, 0.507);
                                height: 100%;
                                width: 1px;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 40%;
                                background: rgba(221, 221, 221, 0.507);
                                height: 100%;
                                width: 1px;
                            }
                            ul {
                                float: left;
                                width: 33.33%;
                                text-align-last: left;
                                list-style: none;
                                li {
                                    display: block;
                                    a {
                                        text-decoration: none;
                                        color: #444;
                                        padding: 10px 0;
                                        display: block;
                                        font-family: $rubik;
                                        font-size: 15px;
                                        transition: 0.4s;
                                        &:hover {
                                            color: $main_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    /*-- dropdoun__menu start--*/
                    .dropdoun__menu {
                        position: absolute;
                        top: 100%;
                        left: -40px;
                        list-style: none;
                        width: 250px;
                        background: #fff;
                        padding: 20px 30px;
                        box-sizing: border-box;
                        box-shadow: 0 2px 10px rgba(177, 191, 204, 0.384);
                        text-align: left;
                        transition: 0.3s ease-in;
                        opacity: 0;
                        visibility: hidden;
                        li {
                            display: block;
                            a {
                                text-decoration: none;
                                color: #444;
                                padding: 10px 0;
                                display: block;
                                font-family: $rubik;
                                font-size: 15px;
                                transition: 0.4s;
                                &:hover {
                                    color: $main_color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav__right {
            position: relative;
            text-align: right;
            > div.clear {
                > div.item {
                    display: inline-block;
                    font-size: 1.1rem;
                    padding: 0 6px;
                    i {
                        display: block;
                        padding: 44px 0;
                        transition: 0.4s;
                        &:hover {
                            color: $main_color;
                        }
                    }
                }
            }
            label {
                cursor: pointer;
                &:hover + .shoping__card {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-8px);
                }
            }
            input#toggle {
                &:checked {
                    + label {
                        color: $main_color;
                    }
                    ~ .shoping__card {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(-8px);
                    }
                }
            }
            .shoping__card {
                position: absolute;
                top: 100%;
                background: $main_color;
                width: 300px;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transition: 0.4s;
                transform: translateY(40px);
                padding: 30px 20px;
                box-sizing: border-box;
                .shoping__card_inner {
                    .shoping__item {
                        margin-bottom: 18px;
                        > div {
                            float: left;
                        }
                        .select {
                            width: 10%;
                            position: relative;
                            top: 0.3rem;
                            label {
                                display: block;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                border: 1px solid #fff;
                                transition: 0.4s;
                                position: relative;
                                &:hover {
                                    &::before {
                                        color: $header_top_color;
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                    &::after {
                                        color: $header_top_color;
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                                &::before {
                                    content: '\f067';
                                    font-family: 'font awesome 5 free';
                                    font-weight: 600;
                                    position: absolute;
                                    text-align: center;
                                    top: 0.2rem;
                                    left: 0;
                                    right: 0;
                                    font-size: 13px;
                                    margin: auto;
                                    color: #fff;
                                    transition: 0.4s;
                                }
                                &::after {
                                    content: '\f00d';
                                    font-family: 'font awesome 5 free';
                                    font-weight: 600;
                                    position: absolute;
                                    text-align: center;
                                    top: 0.2rem;
                                    left: 0;
                                    right: 0;
                                    font-size: 13px;
                                    margin: auto;
                                    color: #fff;
                                    transition: 0.4s;
                                    opacity: 0;
                                    visibility: hidden;
                                }
                            }
                        }
                        .product_title {
                            width: 65%;
                            text-align: center;
                            h6 {
                                a {
                                    color: #fff;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    font-family: $rubik;
                                    text-decoration: none;
                                    display: block;
                                    transition: 0.6s;
                                    &:hover {
                                        color: $header_top_color;
                                    }
                                }
                            }
                            span {
                                color: #fff;
                                font-weight: 400;
                                font-family: $rubik;
                                font-size: 0.9rem;
                            }
                        }
                        .image_div {
                            width: 25%;
                            text-align: right;
                            img {
                                height: 45px;
                            }
                        }
                    }
                    .soping_card__footer {
                        border-top: 1px solid rgba(221, 221, 221, 0.24);
                        margin-top: 20px;
                        padding: 5px 0;
                        text-align: center;
                        h3 {
                            color: #fff;
                            font-weight: 400;
                            font-size: 1rem;
                            text-align: center;
                        }
                        a {
                            display: inline-block;
                            text-decoration: none;
                            text-transform: capitalize;
                            color: #fff;
                            font-size: 1rem;
                            background: $header_top_color;
                            padding: 8px 14px;
                            margin-top: 15px;
                            border-radius: 3px;
                            transition: 0.4s;
                            &:hover {
                                color: #dddd;
                            }
                            &:first-child {
                                margin-right: 10px;
                            }
                            &:last-child {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    position: relative;
}
#toggle {
    display: none;
}
/*-- header sectioc  end--*/
/*-- hero sectioc  start--*/
.hero__section {
    background: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    .hero__content {
        margin: auto;
        padding: 145px 0 410px 0;
        h1 {
            font-family: $Nunito;
            font-size: 3.1rem;
        }
        p {
            font-family: $rubik;
            font-weight: 400;
            font-size: 1.1rem;
            color: #444;

            width: 45%;
            margin: 16px auto;
            line-height: 30px;
        }
        a {
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            font-family: $rubik;
            background: $main_color;
            color: #fff;
            font-size: 1.1rem;
            padding: 17px 50px;
            border-radius: 50px;
            transition: 0.4s;
            &:hover {
                background: #1796bd;
            }
        }
    }
}
/*-- hero sectioc  end--*/
.about__section {
    padding: 0 0 100px 0;
    overflow: auto;
    margin-top: -92px;
    .fixed__width {
        overflow: auto;
    }
    .about__section__left {
        float: left;
        width: 60%;
        .about__left__content__ininer {
            background: #e7f4f6;
            margin: 20px 30px 20px 0;
            padding: 70px 60px;
            border-radius: 8px;
            h3 {
                color: $main_color;
                font-family: $Nunito;
                text-transform: uppercase;
                font-weight: 700;
            }
            h2 {
                color: $black;
                font-size: 2.1rem;
                font-family: $Nunito;
                text-transform: capitalize;
                font-weight: 700;
                margin: 15px 0;
            }
            p {
                font-family: $rubik;
                color: rgb(112, 111, 111);
                font-weight: 400;
                line-height: 32px;
                font-size: 1.1rem;
            }
            .about__footer {
                margin: 40px 0 0 0;
                > div {
                    display: inline-block;
                    margin: 0 20px 0 0;
                    h5 {
                        font-size: 1rem;
                        color: #555;
                        font-size: $rubik;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .about__section__right {
        float: right;
        width: 40%;
        .about__right__content__ininer {
            margin: 20px 0 20px 30px;
            > h2 {
                text-align: center;
                text-transform: uppercase;
                background: $main_color;
                color: #fff;
                font-weight: 400;
                font-family: $rubik;
                padding: 15px 10px;
            }
            .notice__item {
                margin: 15px 0;
                background: #e7f4f6;
                overflow: auto;
                padding: 20px 10px;
                border-radius: 4px;
                h2 {
                    color: $main_color;
                    text-align: center;
                    width: 10%;
                    float: left;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                p {
                    color: rgb(112, 111, 111);
                    width: 85%;
                    float: right;
                    border-left: 1px solid #21a7d0;
                    box-sizing: border-box;
                    padding-left: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}
/*-- about section  end--*/
/*-- categories section start--*/
.categories__section {
    background: #f3f8f9;
    padding: 100px 0;
    .categories__section__title {
 @include section__title__design__noe();
    }
    .categories__section__main {
        overflow: auto;
        margin-top: 20px;
        .categories__item {
            float: left;
            width: 33.33%;
            .categories__item__inner {
                background: #ffffff;
                padding: 27px 22px;
                margin: 15px;
                transition: 0.4s;
                border-radius: 5px;
                border: 1px solid #ddd;
                > div {
                    float: left;
                    &:first-child {
                        margin: 0 20px 0 0;
                        > div.image__inner {
                            width: 70px;
                            height: 70px;
                            background: #d0eef4;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 104px;
                            transition: 0.4s;
                            img {
                                display: inline-block;
                                transition: 0.4s;
                                transform: scale(1);
                            }
                        }
                    }
                    &:last-child {
                        h2 {
                            text-transform: capitalize;
                            font-family: $Nunito;
                            color: #222;
                            transition: 0.4s;
                        }
                        span {
                            color: #444;
                            transition: 0.4s;
                        }
                    }
                }
                &:hover {
                    background: #007eb5 !important;
                    h2 {
                        color: rgb(255, 255, 255) !important;
                    }
                    span {
                        color: #ddd !important;
                    }
                    .image__inner {
                        background: #fff !important;
                        img {
                            transform: scale(0.9) !important;
                        }
                    }
                }
            }
        }
    }
}
