* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.clear::after {
  content: '';
  clear: both;
  display: block;
}

.float_left {
  float: left;
}

.float_rightt {
  float: right;
}

.fixed__width {
  width: 70%;
  margin: auto;
  display: block;
}

html {
  font-size: 16px;
}

/*-- header  start--*/
.header__top {
  background: #203154;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.header__top .header__top__left {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__top .header__top__left .header__top__left__inner > div {
  float: left;
  margin-left: 10px;
  padding: 15px 0;
}

.header__top .header__top__left .header__top__left__inner > div .flaticon-location {
  font-size: 1rem;
  display: inline-block;
}

.header__top .header__top__left .header__top__left__inner > div span {
  color: #fff;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.header__top .header__top__left .header__top__left__inner > div a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__top .header__top__left .header__top__left__inner > div a:hover {
  color: #21a7d0;
}

.header__top .header__top__left .header__top__left__inner > div p {
  color: #fff;
  display: inline-block;
}

.header__top .header__top__left .header__top__left__inner > div:first-child {
  border-right: 1px solid #40537a;
  padding-right: 10px;
}

.header__top .header__top__right {
  width: 50%;
  float: right;
}

.header__top .header__top__right .header__top__right__inner {
  text-align: right;
}

.header__top .header__top__right .header__top__right__inner > div {
  display: inline-block;
}

.header__top .header__top__right .header__top__right__inner > div a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__top .header__top__right .header__top__right__inner > div a:hover {
  color: #21a7d0;
}

.header__top .header__top__right .header__top__right__inner > div span {
  display: inline-block;
  color: #fff;
}

.header__top .header__top__right .header__top__right__inner > div span .fas {
  color: #21a7d0;
  margin-right: 3px;
}

.header__top .header__top__right .header__top__right__inner > div span.slash {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__top .header__top__right .header__top__right__inner .header__top__btn {
  background: #21a7d0;
  padding: 17px 40px;
  color: #fff;
  margin-left: 10px;
}

.header__top .header__top__right .header__top__right__inner .header__top__btn:hover {
  color: #fff;
  background: #1c8bad;
}

nav {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  font-family: "Rubik", sans-serif;
  -webkit-box-shadow: 0 4px 8px #ddd;
          box-shadow: 0 4px 8px #ddd;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

nav #nav > div {
  float: left;
  width: 10%;
}

nav #nav .nav__left .logo__inner {
  padding: 20px 0;
}

nav #nav .nav__left .logo__inner img {
  width: 110px;
}

nav #nav .nav__center {
  width: 80%;
}

nav #nav .nav__center > ul {
  list-style: none;
  text-align: center;
}

nav #nav .nav__center > ul > li {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: -4px;
  position: relative;
  /*-- mega__menu start--*/
  /*-- dropdoun__menu start--*/
}

nav #nav .nav__center > ul > li > a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  padding: 46px 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 500;
  color: #444;
  position: relative;
}

nav #nav .nav__center > ul > li > a:hover {
  color: #21a7d0;
}

nav #nav .nav__center > ul > li > a:hover::after {
  opacity: 0;
  visibility: hidden;
}

nav #nav .nav__center > ul > li > a:hover::before {
  opacity: 1;
  visibility: visible;
}

nav #nav .nav__center > ul > li > a::after {
  content: '\f067';
  font-family: 'font awesome 5 free';
  font-weight: 600;
  font-size: 11px;
  position: absolute;
  top: 44%;
  right: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__center > ul > li > a::before {
  content: '\f068';
  font-family: 'font awesome 5 free';
  font-weight: 600;
  font-size: 11px;
  position: absolute;
  top: 44%;
  right: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

nav #nav .nav__center > ul > li:hover .mega__menu,
nav #nav .nav__center > ul > li:hover .dropdoun__menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav #nav .nav__center > ul > li .mega__menu {
  position: absolute;
  top: 100%;
  left: -60px;
  width: 700px;
  border: 1px solid #ddd;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px #b1bfcc;
          box-shadow: 0 2px 10px #b1bfcc;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner {
  overflow: auto;
  position: relative;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 28%;
  background: rgba(221, 221, 221, 0.507);
  height: 100%;
  width: 1px;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 40%;
  background: rgba(221, 221, 221, 0.507);
  height: 100%;
  width: 1px;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner ul {
  float: left;
  width: 33.33%;
  text-align-last: left;
  list-style: none;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner ul li {
  display: block;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner ul li a {
  text-decoration: none;
  color: #444;
  padding: 10px 0;
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__center > ul > li .mega__menu .mega__menu__inner ul li a:hover {
  color: #21a7d0;
}

nav #nav .nav__center > ul > li .dropdoun__menu {
  position: absolute;
  top: 100%;
  left: -40px;
  list-style: none;
  width: 250px;
  background: #fff;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 10px rgba(177, 191, 204, 0.384);
          box-shadow: 0 2px 10px rgba(177, 191, 204, 0.384);
  text-align: left;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}

nav #nav .nav__center > ul > li .dropdoun__menu li {
  display: block;
}

nav #nav .nav__center > ul > li .dropdoun__menu li a {
  text-decoration: none;
  color: #444;
  padding: 10px 0;
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__center > ul > li .dropdoun__menu li a:hover {
  color: #21a7d0;
}

nav #nav .nav__right {
  position: relative;
  text-align: right;
}

nav #nav .nav__right > div.clear > div.item {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 6px;
}

nav #nav .nav__right > div.clear > div.item i {
  display: block;
  padding: 44px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__right > div.clear > div.item i:hover {
  color: #21a7d0;
}

nav #nav .nav__right label {
  cursor: pointer;
}

nav #nav .nav__right label:hover + .shoping__card {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

nav #nav .nav__right input#toggle:checked + label {
  color: #21a7d0;
}

nav #nav .nav__right input#toggle:checked ~ .shoping__card {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

nav #nav .nav__right .shoping__card {
  position: absolute;
  top: 100%;
  background: #21a7d0;
  width: 300px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item {
  margin-bottom: 18px;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item > div {
  float: left;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select {
  width: 10%;
  position: relative;
  top: 0.3rem;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select label:hover::before {
  color: #203154;
  opacity: 0;
  visibility: hidden;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select label:hover::after {
  color: #203154;
  opacity: 1;
  visibility: visible;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select label::before {
  content: '\f067';
  font-family: 'font awesome 5 free';
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 0.2rem;
  left: 0;
  right: 0;
  font-size: 13px;
  margin: auto;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .select label::after {
  content: '\f00d';
  font-family: 'font awesome 5 free';
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 0.2rem;
  left: 0;
  right: 0;
  font-size: 13px;
  margin: auto;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .product_title {
  width: 65%;
  text-align: center;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .product_title h6 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .product_title h6 a:hover {
  color: #203154;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .product_title span {
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .image_div {
  width: 25%;
  text-align: right;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .shoping__item .image_div img {
  height: 45px;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer {
  border-top: 1px solid rgba(221, 221, 221, 0.24);
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 1rem;
  background: #203154;
  padding: 8px 14px;
  margin-top: 15px;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer a:hover {
  color: #dddd;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer a:first-child {
  margin-right: 10px;
}

nav #nav .nav__right .shoping__card .shoping__card_inner .soping_card__footer a:last-child {
  margin-left: 10px;
}

#toggle {
  display: none;
}

/*-- header sectioc  end--*/
/*-- hero sectioc  start--*/
.hero__section {
  background: url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.hero__section .hero__content {
  margin: auto;
  padding: 145px 0 410px 0;
}

.hero__section .hero__content h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.1rem;
}

.hero__section .hero__content p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #444;
  width: 45%;
  margin: 16px auto;
  line-height: 30px;
}

.hero__section .hero__content a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  background: #21a7d0;
  color: #fff;
  font-size: 1.1rem;
  padding: 17px 50px;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__section .hero__content a:hover {
  background: #1796bd;
}

/*-- hero sectioc  end--*/
.about__section {
  padding: 0 0 100px 0;
  overflow: auto;
  margin-top: -92px;
}

.about__section .fixed__width {
  overflow: auto;
}

.about__section .about__section__left {
  float: left;
  width: 60%;
}

.about__section .about__section__left .about__left__content__ininer {
  background: #e7f4f6;
  margin: 20px 30px 20px 0;
  padding: 70px 60px;
  border-radius: 8px;
}

.about__section .about__section__left .about__left__content__ininer h3 {
  color: #21a7d0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.about__section .about__section__left .about__left__content__ininer h2 {
  color: #111111;
  font-size: 2.1rem;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0;
}

.about__section .about__section__left .about__left__content__ininer p {
  font-family: "Rubik", sans-serif;
  color: #706f6f;
  font-weight: 400;
  line-height: 32px;
  font-size: 1.1rem;
}

.about__section .about__section__left .about__left__content__ininer .about__footer {
  margin: 40px 0 0 0;
}

.about__section .about__section__left .about__left__content__ininer .about__footer > div {
  display: inline-block;
  margin: 0 20px 0 0;
}

.about__section .about__section__left .about__left__content__ininer .about__footer > div h5 {
  font-size: 1rem;
  color: #555;
  font-size: "Rubik", sans-serif;
  font-weight: 400;
}

.about__section .about__section__right {
  float: right;
  width: 40%;
}

.about__section .about__section__right .about__right__content__ininer {
  margin: 20px 0 20px 30px;
}

.about__section .about__section__right .about__right__content__ininer > h2 {
  text-align: center;
  text-transform: uppercase;
  background: #21a7d0;
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  padding: 15px 10px;
}

.about__section .about__section__right .about__right__content__ininer .notice__item {
  margin: 15px 0;
  background: #e7f4f6;
  overflow: auto;
  padding: 20px 10px;
  border-radius: 4px;
}

.about__section .about__section__right .about__right__content__ininer .notice__item h2 {
  color: #21a7d0;
  text-align: center;
  width: 10%;
  float: left;
  font-size: 1.1rem;
  font-weight: 500;
}

.about__section .about__section__right .about__right__content__ininer .notice__item p {
  color: #706f6f;
  width: 85%;
  float: right;
  border-left: 1px solid #21a7d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  line-height: 30px;
}

/*-- about section  end--*/
/*-- categories section start--*/
.categories__section {
  background: #f3f8f9;
  padding: 100px 0;
}

.categories__section .categories__section__title {
  margin: 0 15px;
  overflow: auto;
}

.categories__section .categories__section__title > div:first-child {
  float: left;
  width: 50%;
}

.categories__section .categories__section__title > div:first-child h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #21a7d0;
}

.categories__section .categories__section__title > div:first-child h2 {
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #111111;
  margin: 5px 0 10px 0;
}

.categories__section .categories__section__title > div:last-child {
  float: right;
  width: 50%;
}

.categories__section .categories__section__title > div > div {
  text-align: right;
}

.categories__section .categories__section__title > div > div a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid #21a7d0;
  padding: 13px 34px;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.categories__section .categories__section__title > div > div a:hover {
  background: #21a7d0;
  color: #fff;
}

.categories__section .categories__section__main {
  overflow: auto;
  margin-top: 20px;
}

.categories__section .categories__section__main .categories__item {
  float: left;
  width: 33.33%;
}

.categories__section .categories__section__main .categories__item .categories__item__inner {
  background: #ffffff;
  padding: 27px 22px;
  margin: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div {
  float: left;
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div:first-child {
  margin: 0 20px 0 0;
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div:first-child > div.image__inner {
  width: 70px;
  height: 70px;
  background: #d0eef4;
  border-radius: 50%;
  text-align: center;
  line-height: 104px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div:first-child > div.image__inner img {
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div:last-child h2 {
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  color: #222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.categories__section .categories__section__main .categories__item .categories__item__inner > div:last-child span {
  color: #444;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.categories__section .categories__section__main .categories__item .categories__item__inner:hover {
  background: #007eb5 !important;
}

.categories__section .categories__section__main .categories__item .categories__item__inner:hover h2 {
  color: white !important;
}

.categories__section .categories__section__main .categories__item .categories__item__inner:hover span {
  color: #ddd !important;
}

.categories__section .categories__section__main .categories__item .categories__item__inner:hover .image__inner {
  background: #fff !important;
}

.categories__section .categories__section__main .categories__item .categories__item__inner:hover .image__inner img {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}
/*# sourceMappingURL=main__style.css.map */