* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.fixed__width {
  width: 70%;
  margin: auto;
  display: block;
}

html {
  font-size: 16px;
}

/*-- header  start--*/
header .header__top {
  background: #203154;
  overflow: auto;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

header .header__top .header__top__left {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header__top .header__top__left .header__top__left__inner {
  overflow: auto;
}

header .header__top .header__top__left .header__top__left__inner > div {
  float: left;
  margin-left: 10px;
  padding: 15px 0;
}

header .header__top .header__top__left .header__top__left__inner > div .flaticon-location {
  font-size: 1rem;
  display: inline-block;
}

header .header__top .header__top__left .header__top__left__inner > div span {
  color: #fff;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

header .header__top .header__top__left .header__top__left__inner > div a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header__top .header__top__left .header__top__left__inner > div a:hover {
  color: #21a7d0;
}

header .header__top .header__top__left .header__top__left__inner > div p {
  color: #fff;
  display: inline-block;
}

header .header__top .header__top__left .header__top__left__inner > div:first-child {
  border-right: 1px solid #40537a;
  padding-right: 10px;
}

header .header__top .header__top__right {
  width: 50%;
  float: right;
}

header .header__top .header__top__right .header__top__right__inner {
  overflow: auto;
  text-align: right;
}

header .header__top .header__top__right .header__top__right__inner > div {
  display: inline-block;
}

header .header__top .header__top__right .header__top__right__inner > div a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header__top .header__top__right .header__top__right__inner > div a:hover {
  color: #21a7d0;
}

header .header__top .header__top__right .header__top__right__inner > div span {
  display: inline-block;
  color: #fff;
}

header .header__top .header__top__right .header__top__right__inner > div span .fas {
  color: #21a7d0;
  margin-right: 3px;
}

header .header__top .header__top__right .header__top__right__inner > div span.slash {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header__top .header__top__right .header__top__right__inner .header__top__btn {
  background: #21a7d0;
  padding: 17px 40px;
  color: #fff;
  margin-left: 10px;
}

header .header__top .header__top__right .header__top__right__inner .header__top__btn:hover {
  color: #fff;
  background: #1c8bad;
}

header nav {
  background: #ddd;
}

header nav #nav {
  overflow: auto;
}

header nav #nav > div {
  float: left;
  width: 25%;
}

header nav #nav .nav__center {
  width: 50%;
}
/*# sourceMappingURL=main__style.css.map */